body {
  margin: 0;
}

#root {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body.light {
  background-color: #ffffff;
  color: #111827;
  min-height: 100vh;
}

body.dark {
  background-color: #111827;
  color: #ffffff;
  min-height: 100vh;
}